/*
Project Name: Mark Hetherington
Author: Oscar Selden
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

/*All Pages*/

body { 
    margin: 20px 20px 0 20px;
    background: white;
}

.navbar-default .navbar{

  background: #fff;
  color: #000;
  overflow: hidden;

}

.navbar-default .navbar-nav>li>a {
  color:#000;

}

.navbar-default .navbar-nav>li>a:hover {
  color: #c0726e;
}


.navbar-brand {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #000 !important;
}



.navbar-brand:after {
    content:"Mark Hetherington";
}

.navbar-brand:hover:after {
   color: #c0726e;
  
}

@media (max-width : 450px) {
  .navbar-brand:after {
    content:"MH";
  }
}


.navbar {
  background: #fff;
  color: #000;
  overflow: hidden;
  

}
.navbar a {
  color: inherit;
  text-decoration: none;
}
.navbar {
  float: left;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  margin: 20px 0 0 0;
  border: 0;
  width: 100%;
  border-bottom: solid 1px black;
}



/******************************************
/* LAYOUT
/*******************************************/

/*Home*/

/*  Banner Two*/

#myCarousel {


  clear: both;
  height: 500px;
  margin-top: 15px;
  overflow: hidden;
  margin-top: 15px;
  width: 100%;

}

.carousel-inner > .item > img {
  height: 500px;
  width: 100%;
}

#indexRow {
     margin-left: 0px;
     margin-right: 0px;
}

#bridge {

  height: 400px;
  background-image: url(../images/grouch.jpg);
  background-size: cover;
  background-position: -60% 30%;
  margin-top: 15px; 
  margin-bottom: 15px;
  overflow: hidden;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  
}

/*Banner 3*/

#muse {
  background-image: url(../images/youarebackground.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border: black solid 0.1px;
  clear: both;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
 

}


#museButton1 {

  width: 35px;
  height: 35px;
  background-color: rgba(141, 179, 255, 1);
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

#museButton1 p {
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}


#muse1 {
  background-color: rgba(141, 179, 255, 0.6);
  float: right;
  margin: 10px;

}

#muse1 h1 {
  font-style: italic;
  text-align: center;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  
  
}

#muse1 p {
  text-align: center;
  font-size: 0.8em;
  color: #000;
  font-family: 'Raleway', sans-serif;
  
}

/*Footer*/


#social {
 
  background-color: #c0726e;
  margin-left: 0px;
  margin-top: 15px;
  width: 100%;
  display: inline-block;
  
}

#social h2 {
  margin: 15px;
  float: left;
  color: #000;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;

}

#glyphs {

  margin-top: 7px;
  margin-right: 7px;
  float: right;
  

  } 

  #glyphs img:hover {
    background-color: blue;
  }

.instagram {
  height: 33px;
  width: 33px;
}

.bandcamp {
  height: 38px;
  width: 38px;
}

/*Page 2: About*/

#aboutBody {

  margin-top: 20px;
}

#aboutTitle h1 {
  margin-top: 10px;
  text-align: center; 
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  
}

.aboutText {
  height: 400px;
  overflow: scroll;
  text-align: left;
  padding: 10px;
}

.centerLinks{

     text-align: center;

}

.glyphicon-chevron-up {
  float: right;
}

.kiez {
  height: 400px;
  width: 100%;
  
}

#lakeScene {

  background-image: url(../images/lake.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;


}

#monsterScene {
  font-family: 'Raleway', sans-serif;
  text-align: center;
 
}

#rockMonster {

  background-image: url(../images/monster.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  

}

/*Page 3: Portfolio*/

#gallery { 

  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;

}

#portfoioHeader {

  font-size: 3em;
  text-align: center;
  color: rgba(17, 3, 28, 0.8); 
  padding-top: 15px;
  font-family: 'Raleway', sans-serif;
}

#portfolioIntro {
  font-size: 1.8em;
  text-align: center;
  color: rgba(17, 3, 28, 0.8);
  font-family: 'Raleway', sans-serif;

}


.mark2016 {


width: 200px;
height: 200px;
opacity: 1;
padding: 5px 0 5px 0;
}

.mark2016:hover {
  opacity: 0.5;
  transform: scale(1.1, 1.1);
  padding: 15px;
}



.caption {
  
  position: absolute;
  border: solid 1px black;
  top: 0%;
  left: 0%;
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;
  color: #fff;
  line-height: 100%;
  transition: all .5s;
  width: 50%;

}

  a:hover .caption {
  top: 50%;
  left: 15%;
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
  transform: scale(1);
 
 
  
}

/*Gallery has blocks with info when you hover */

/*Page 4: Events*/

  #events {
    font-family: 'Raleway', sans-serif;
    text-align: center;
  
  }

  #row1{
    margin-top: 20px;

  }

  #ghostFlag{
    background-image: url(../images/ghostflag.jpg);
    width: 33%;
    height: 400px;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }

  #upNext{
    float: left;
    width: 33%;
    text-align: center;

  }

#eventPage {

  width: 55px;
  background-color: rgba(141, 179, 255, 1);
  border-radius: 20%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}


  #reaping{
    background-image: url(../images/reaping.jpg);
    width: 33%;
    height: 400px;
    float: right;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
  }

   #row2{
    margin-top: 15px;

  }

  #ufo{
    background-image: url(../images/ufo.jpg);
    width: 33%;
    height: 400px;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
  }



  #books{
    background-image: url(../images/books.jpg);
    width: 33%;
    height: 400px; 
    float: right; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
  }

  .italic {
    font-style: italic;
  }
  
  .oneDay {
    border-bottom: solid 1px rgba(0,0,255, 0.6);
  }

  iframe {
    width: 100%;
    height: 400px;

  }

/*Page 5: Contact*/


  #contactForm{
  
  }

  #formBackground {
    background-color: rgba(255,255,255,0.5);
    background-size: cover;
    margin: 15px;
  }

  #contactHeader {

    font-family: 'Raleway', sans-serif;
    text-align: center;
    

  }

  #sayHello {

    color: #000;
    padding: 30px;
  }



  #ships{
  background-image: url(../images/contact-background-tasman.jpg);
  background-size: cover;
  background-position: center;
  width: 66.66666%;
  height: 608px;
  background-repeat: no-repeat;

  }

  label {
    font-family: 'Raleway', sans-serif;
   
  }

   input {
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
  }

  input:focus {
    background-color: rgba(50,205,50, 0.5);
  }

  textarea {
    border-radius: 5px;
    max-width: 300px;
  }

  textarea:focus {
    background-color: rgba(50,205,50, 0.5);
  }

  #send {
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    border-radius: 90.3px;
    background-color: #2EB1F3;
    width: 50px;
    height: 50px;
    transition: all 2s;
    opacity: 0.8;
    font-size: 8px;
    cursor: pointer;

  }

  #send:hover {

    width: 75px;
    height: 75px;
    opacity: 1;
    
    font-size: 14px;
    background-color: #00C02D;
    margin-bottom: 15px;


  }

  #smallSend {

    display: none;
  }
/**************************
RESPONSIVE
**************************/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

  #books {
    width: 33%;
  }

  #ships {
    width: 50%;
  }


  a:hover .caption {
  top: 40%;
  left: 20%;
 
 
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

  #lakeScene {
    margin-top: 15px;
    
  }
  
.kiez {
 
  visibility: hidden;

  
  } 

  #lakeHeading {

  background-image: url(../images/11811390_10153524888100070_1003636207767541380_n.jpg);
  background-size: cover;
  height: 400px;
  width: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  }



  #upNext{
    font-size: 12px;

  }

  #ufo{
    width: 100%;
    margin-bottom: 5px;
  }
  
  #books{
    width: 100%;
  }

  #ships {

    width: 50%;
  }

  .caption {

  width: 50%;
  margin-left: 40px;
}

  a:hover .caption {
  top: 40%;
  left: 5%;
  margin-top: 0px;
 
}

  .mark2016 {
    text-align: center;
    width: 175px;
    height: 175px;

  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  #upNext{
    margin-top: 10px;

    width: 100%;

  }

  #reaping{
    width: 100%;
    height: 50px;
  }

  #ghostFlag{
    width: 100%;
    height: 50px;
  }


#gallery {
  text-align: center;
  }


    .caption {

  width: 40%;
  margin-left: 40px;
}

  a:hover .caption {
  top: 40%;
  left: 18%;
  margin-top: 0px;
 
}

  .mark2016 {
    text-align: center;
    width: 200px;
    height: 200px;

  }

  #ships {
  width: 100%;
       
     }
     
     #marrickville{
          text-decoration: none;
     }
     #whitehouse {
     text-decoration: none;
     }
     #redfern{
     text-decoration: none;
  }
     
}
@media only screen and (max-width : 565px) {
 
  a:hover .caption {
  top: 40%;
  left: 10%;
  margin-top: 0px;
 
  }

      #myCarousel {

  width: 100%;
  clear: both;
  height: 350px;
  margin-top: 15px;
  overflow: hidden;
  margin-top: 15px;

  }

.carousel-inner > .item > img {
  height: 350px;
  width: 100%;

  }



  }

@media only screen and (max-width : 499px){
 #social h2 {
    float: left;
    font-size: 15px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
 
 #social h2 {
    float: left;
    font-size: 15px;

   
  }

  #glyphs {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }


#bridge {

  background-position: center;

}



  #ships {
    width: 100%;
    padding-left: 5px;

  }

label {
  font-size: 9.5px;
   
  }

  .caption {

  width: 50%;
  margin-left: 40px;
}

  a:hover .caption {
  top: 40%;
  left: 5%;
  margin-top: 0px;
 
  }

    .mark2016 {
    text-align: center;
    width: 150px;
    height: 150px;

  }

    #myCarousel {

  width: 100%;
  clear: both;
  height: 350px;
  margin-top: 15px;
  overflow: hidden;
  margin-top: 15px;

  }

.carousel-inner > .item > img {
  height: 350px;
  width: 100%;

  }

}

@media only screen and (max-width : 419px){
     
       #social {
    height: 46px;
  }

  #social h2 {
    float: left;
    font-size: 15px;
      }

  #glyphs img {
   margin-top: 6px;
  }

  #twit{
    width: 21.5px;
    height: 16.5px;
  }
  #ins{
    width: 16.5px;
    height: 16.5px;
  }
  #fb{
    width: 8.5px;
    height: 18.5px;
  }
  #bc{
    width: 19px;
    height: 19px;
    
  }
     
}


/* Custom, iPhone Retina */ 
@media only screen and (max-width : 415px) {

  #social {
    height: 46px;
  }

  #social h2 {
    float: left;
    font-size: 15px;
      }

  #glyphs img {
   margin-top: 6px;
  }

  #twit{
    width: 21.5px;
    height: 16.5px;
  }
  #ins{
    width: 16.5px;
    height: 16.5px;
  }
  #fb{
    width: 8.5px;
    height: 18.5px;
  }
  #bc{
    width: 19px;
    height: 19px;
    
  }



  #upNext{
    font-size: 10px;

  }  

  .mark2016 {
    text-align: center;
    width: 175px;
    height: 175px;
  }

  #myCarousel {

  width: 100%;
  clear: both;
  height: 350px;
  margin-top: 15px;
  overflow: hidden;
  margin-top: 15px;

  }

.carousel-inner > .item > img {
  height: 350px;
  width: 100%;

  }
  
#ships {
  height: 270px;
}

  iframe {
    display: none;

  }

  #ufo {

   display: none;
  }

   #books {

    height: 300px;
  }

  #send {
    display: none;

}

#smallSend {

    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    border-radius: 90.3px;
    background-color: #2EB1F3;
    width: 50px;
    height: 50px;
    opacity: 1;
    font-size: 8px;
    cursor: pointer;
    display: inline;

  }

}

@media only screen and (max-width : 400px){

    .mark2016 {
    text-align: center;
    width: 100px;
    height: 100px;
  }
     
     
}

/*---iPhone 5 ---*/

@media only screen and (max-width : 380px) {

  #social h2 {
    float: left;
    font-size: 10px;
      }

  .mark2016 {
    text-align: center;
    width: 100px;
    height: 100px;
  }

    .caption {

  visibility: hidden;
}

  a:hover .caption {
    visibility: hidden;
  }

  #lakeHeading{

    height: 200px;
    background-attachment: scroll;
  }

  #lakeScene{
    height: 200px;
    background-attachment: scroll;


  }

  .aboutText {
    height: 100%;
}

#rockMonster {
  height: 200px;

}

  #myCarousel {

  height: 250px;

  }

.carousel-inner > .item > img {
  height: 250px;
  width: 100%;

  }


  label {
    font-size: 8.5px;
  }

}


